*.zip
*.ignore


backend/however_graph/however_extraction/however_extraction/s2orc_hci/however_annotate/*.tsv
backend/however_graph/however_extraction/however_extraction/s2orc_hci/metadata/*.jsonl
backend/however_graph/however_extraction/however_extraction/s2orc_hci/pdf_parses/*.jsonl


._*
.DS_Store

refs
*.pyc

venv

backend/auto-gpt.json

backend/saved_agents/*
backend/however_graph/however_extraction/however_extraction/s2orc_hci/however_data/obsidian_vault
backend/however_graph/however_extraction/however_extraction/s2orc_hci/however_data/papers/*
backend/however_graph/data/txt/*

/.env
backend/however_graph/expand_papers/pdf/papers/*.pdf
backend/however_graph/expand_papers/txt/*
# api_txt
backend/.env.block
backend/rds.env
backend/OAI_CONFIG_LIST
backend/.env
backend/azure.yaml
backend/logs/*
backend/auto_gpt_workspace